html{
font-family: "Verdana";
background-image: url("../addon/got fond.jpg");
min-height: 100%;
background-attachment: fixed;
}

body{
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.40);
	color: white;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	font-size: 120px;
	font-family: "Verdana";
	background-color: black;
	margin: 0;
	padding-top: 90px;
	padding-bottom: 40px;
}

nav{
	width: 100%;
}

.menu{
	display: flex;
	flex-direction: row;
	min-height: 40px;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.2);
	font-size: 30px;
}

.categorie{
	position: relative;
	width: 100%;
	list-style: none;
	padding: 30px;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
}

.parent{
	width: 100%;
	list-style: none;
	position: relative;
	padding: 30px;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
}

.sous-menu{
	display: none;
 	position:relative;
 	height: auto;
 	list-style: none;
}

.parent:hover .sous-menu{
	display: flex;
	flex-direction: column;
   position: absolute;
    top: 100%;
    right: 70px;
    width: 80%;
}
 
.categorie:hover{
	background-color: #888;
}

a{
	color: white;
	text-decoration: none;
	font-style: italic;
	
}	

a:hover{
	color: lightblue;
}


footer{
	bottom: 0;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	background-color: rgba(255,255,255,0.2);
}