html{
font-family: "Verdana";
background-image: url("../addon/got fond.jpg");
min-height: 100%;
background-attachment: fixed;
}

body{
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.60);
	color: white;
	min-height: 100%;
	margin: 0;
	padding: 0;
}


#banniere{
	background: no-repeat;
	background-image: url("../addon/banniereGOT.jpg");
	background-position: center;
	background-size: 100% 130%;
	height: 250px;
}

nav{
	width: 100%;
}

.menu{
	display: flex;
	flex-direction: row;
	min-height: 100%;
	text-align: center;
	margin: 0;
	padding-left: 0.5%;
	padding-right: 0.5%;
	background-color: rgba(255,255,255,0.25);
	font-size: 30px;
}

.categorie{
	position: relative;
	width: 100%;
	list-style: none;
	padding: 30px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	border-radius: 10px;
	box-shadow: 10px 10px 30px grey;
}

.parent{
	width: 100%;
	list-style: none;
	position: relative;
	padding: 30px;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	border-radius: 10px;
	box-shadow: 6px 6px 50px grey;
}

.sous-menu{
	display: none;
 	position:relative;
 	height: inherit;
 	list-style: none;
}

.parent:hover{
	background-color: #A0522D;
	transition: background-color 2s;
}
.parent:hover .sous-menu{
	display: flex;
	background-color: rgba(255,255,255,0.2);
	background-position: center;
	flex-direction: column;
   position: absolute;
    top: 100%;
    width: 78%;
    right: 23%;
}

.categorie:hover{
	background-color: #A0522D;
	transition: background-color 2s;
}

.active{
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: red;
}
a{
	color: white;
	text-decoration: none;
	font-style: italic;

}

a:hover{
	color: #D2B48C;
}


footer{
	display: flex;
	justify-content: space-between;
	text-align: center;
	text-align: justify;
	bottom: 0;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	background-color: rgba(255,255,255,0.2);
	box-shadow: 6px 6px 30px grey;
}

figure{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 8px;
	-webkit-margin-end: 8px;
}

#facebook{
	display: inline-flex;
	width: 50px;
	height: 50px;
}

#twitter{
	display: inline-flex;
	width: 50px;
	height: 50px;
}

#rss{
	display: inline-flex;
	width: 50px;
	height: 50px;
}

#image-footer-gauche{
	display: flex;
}