@import url("main.css");

h2{
	font-size: 40px;
	font-weight: bolder;
	text-shadow: 3px 3px 0px grey;
}
h3{
	margin-left: 30px;
	text-decoration: underline;
}
h4{
	text-decoration: underline;
}
.section{
	max-width: 1100px;
	text-align: justify;
	padding-left: 10px;
	margin-top: 100px;
	margin-bottom: 100px;
}


