@import url("main.css");

html{
	background-image: url("../addon/game-of-thrones-raven.jpg");
	min-height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

.main{
	text-align: center;
	margin-top: 80px;
}

h2{
	font-size: 40px;
	text-shadow: 4px 4px 0px grey;
}

.display{
	margin-bottom: 100px;
}

.photos{
	width: 360px;
	height: 300px;
}

section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}
