@import url("main.css");

html{
	background-image: url("../addon/game-of-thrones-raven.jpg");
	min-height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#banniere{
 	margin: 0;
 }
 
div{
	margin-top: 80px;
	margin-bottom: 100px;
}

.contenu{
	display: flex;
	flex-direction: row;
}

#description{
	margin-top: auto;
	margin-bottom: auto;
}

#video{
	height: 400px;
}

h2{
	text-align: center;
	font-size: 40px;
	text-shadow: 4px 4px 0px grey;
}
