@import url("main.css");

h2{
	font-size: 40px;
	font-weight: bolder;
	text-shadow: 4px 4px 0px grey;
}
h3{
	margin-left: 30px;
	text-decoration: underline;
}
h4{
	text-decoration: underline;
}

.main{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin-top: 100px;
}

.section{
	display: flex;
	flex-direction: column;
	max-width: 1100px;
	text-align: justify;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.15);
	background-position: center;
	margin-right: 10%;
	margin-left:5%;
	margin-bottom: 10%;
	box-shadow: 10px 10px 30px grey;
}

.liste_episodes{
	background-color: rgba(255,255,255,0.15);
	border: double;
	height: 500px;
	width: 20%;
	overflow-y: scroll;
	margin-top: 150px;
	box-shadow: 6px 6px 50px white;
}


