@import url("main.css");

#main{
	text-align: center;
}

#photos1{
	width: 1200px;
	height: 800px;
}

#photos2{
	width: 1200px;
	height: 800px;
}

#photos3{
	width:1200px;
	height: 800px;
}

#photos4{
	width: 1200px;
	height: 800px;
}

#photos5{
	width: 1200px;
	height: 800px;
}

#photos6{
	width: 1200px;
	height: 800px;
}
