html{
background-image: url("../addon/got fond.jpg");
height: 100%;
font-family: "Verdana";
}
body{
background-color: rgba(0,0,0,0.40);
color: white;
}
section{
max-width: 1100px;
text-align: justify;
}
h1{
text-align: center;
margin: 0;
padding-top: 80px;
font-size: 120px;
font-family: "Verdana";
}
h2{
font-size: 40px;
font-weight: bolder;
}
h3{
margin-left: 30px;
text-decoration: underline;
}
h4{
text-decoration: underline;
}
#section_actu_serie{
}

#liste_episodes{
float:right;
background-color: rgba(255,255,255,0.2);
border: double;
height: 500px;
width: 15%;
overflow-y: scroll;
}
a{
color: white;
text-decoration: none;
font-style: italic;
}
a:hover{
color: lightblue;
text-decoration: underline;
}
footer{
border: double;
margin-top: 100px;;
font-size: 75%;
}
