@import url("main.css");

section{
	max-width: 1100px;
	text-align: justify;
	padding-left: 10px;
}
h2{
	font-size: 40px;
	font-weight: bolder;
}
h3{
	margin-left: 30px;
	text-decoration: underline;
}
h4{
	text-decoration: underline;
}
#main{

}
#liste_episodes{
	float:right;
	background-color: rgba(255,255,255,0.2);
	border: double;
	height: 500px;
	width: 15%;
	overflow-y: scroll;
}
#section_actu_serie{

}
.categorie_actu_serie{

}
.categorie_actu_site{

}
