@import url("main.css");

h2{
  padding-left: 10px;
  font-size: 40px;
  font-weight: bolder;
}

#video{
  width:550px;
	text-align: right;
  padding-left: 20px
}
article{
    text-align: justify;
}

#description{
  padding-left: 20px;
}
